body{
	background-attachment: fixed;
	background-position:top center;
    background-repeat:no-repeat;
    background: rgba(0;0;0;0.5);
   
}


.scr {
	margin-left: 400px;
}

.a{
	margin-top: 300px;
}

	
}
.h{
	margin-right: 1050px;
}
.x{
	margin-left: 150px;
	margin-right: 150px;
	font-family: fantasy;	
}
.y{
	margin-left: 150px;
	margin-right: 150px;
		
}
.t{
	font-family: cursive;
}
	H1 {
  text-shadow: -1px -1px #000,
               0 1px 0 #444;
  color: #222;
  transition: all 1s;
  }
  H1:hover {
    text-shadow: -1px -1px #000,
               0 1px 0 #444;
    color: #1A1A1A;
    }
  
    H2 {
  text-shadow: -1px -1px #FFF,
               -2px -2px #FFF,
               -1px 1px #FFF,
               -2px 2px #FFF,
               1px 1px #FFF,
               2px 2px #FFF,
               1px -1px #FFF,
               2px -2px #FFF,
               -3px -3px 2px #BBB,
               -3px 3px 2px #BBB,
               3px 3px 2px #BBB,
               3px -3px 2px #BBB;
  color: steelblack;
  transition: all 1s;
  }
  H2:hover {
    color: red;
    }

