
@{
    ViewBag.Title = "Home";
}

<div>
    <h3>"Home page" </h3>
    <div>
        <h3> Fancy home page will be here soon! </h3>
    </div>
    <div>
        @Html.ActionLink("Підібрати заклади харчування", "ShowDummyFiltersResult", "Home", new { @class = "" })
    </div>
</div>
