@using HawksStartApp.Models.ViewModel
@model  List<RestaurantModel>
@{
    ViewBag.Title = "Restaurant Results";
}

<body>
    <h1 align="center"><strong>Ось заклади, які ідеально вам підходять!!!</strong></h1>
    <hr>
    <table align="center">
        @{
            foreach (var restaurant in Model)
            {
                <td>
                    <p>
                        <a href=@restaurant.Address>
                            <img src='@Url.Content(restaurant.Image)' />
                        </a>
                    </p>
                </td>
            }
        }
    </table>
</body>

